{% extends 'layout.html' %}
{% block body %}
<div id="about" class="about" align="center">
    <h1 class="sub-headings">About</h1>
        <p class="about-para">This is the Machine Learning web app used for estimating the health disease.</p>
        </br>
        <h3>1. Diabetes</h3>
        <p class="about-para">Diabetes is the condition in which the body does not properly process food for use as energy. </br> Most of the food we eat is turned into glucose, or sugar, for our bodies to use for energy. The </br> pancreas, an organ that lies near the stomach, makes a hormone called insulin to help glucose </br>get into the cells of our bodies. Diabetes happens when your blood sugar is too high, causing </br> damage to many organs in your body, including the kidneys and heart, as well as blood vessels,</br>  nerves and eyes. </p>
        </br>
        <h3>2. Heart</h3>
        <p class="about-para">One of the most common complications of heart disease, heart failure occurs when your heart </br> can't pump enough blood to meet your body's needs. Unhealthy lifestyle habits, such as a poor </br> diet, lack of exercise, being overweight and smoking, can lead to atherosclerosis.</p>
        </br>
        <h3>3. Liver</h3>
        <p class="about-para">The liver is essential for digesting food and ridding your body of toxic substances. Liver disease can </br> be inherited (genetic). Liver problems can also be caused by a variety of factors that damage the liver, </br> such as viruses, alcohol use and obesity. Alcohol abuse and liver disease: Alcohol abuse is the most </br> common cause of liver disease. Alcohol is directly toxic to liver cells and can cause liver inflammation, </br> referred to as alcoholic hepatitis. In chronic alcohol abuse, fat accumulation occurs in liver cells </br> affecting their ability to function.</p>
        </br>
        <h3>4. Stroke</h3>
        <p class="about-para">Causes of strokes include ischemia (loss of blood supply) or hemorrhage (bleeding) in the brain. People </br> at risk for stroke include those who have high blood pressure, high cholesterol, diabetes, and those </br> who smoke. People with heart rhythm disturbances, especially atrial fibrillation are also at risk.</p>
        </br>
    </div>
    <div class="line-break">
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
    </div>
    </br>
    </br>
    <!-- Details section -->

    <div id="details" class="details" align="center">
        <div>
            <h1 class="sub-headings">Details</h1>
            <p class="about-para">A machine learning web app created using flask and deployed on heroku platform.
                </br></br>
                Advantages of AI in Healthcare
                </br>
                i. Improved accessibility
                </br>
                ii. Increased speed and reduced costs
                </br>
                iii. Enhanced human abilities
                </br>
                iv. Removing some amount of dependencies on the doctors
                </br>
                v. To help out the poor and helpless people with the normal medical checkup
                </br></br>
                <h5>Technology Used</h5> 
                Python, Machine Learning, Flask, HTML, CSS, Pycharm
                </br>
                </br>
                <h5>Feedback</h5>
                If you have any feedback, please reach out to me 
                </br>
                Thank you!
            </p>
        </div>
    </div>

</div>
{% endblock %}